p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div {
   border: 50px;
   height: 100px;
   width: 50px;
   margin: 0 auto;
   border-radius: 50px;
   background-color: blue; 

}
body {
    background-color: #271d1d;
}